- model_class = Cliente
.row-fluid
  .span12
    %h2.botton-border Saldo de Clientes
    //=t '.title', :default => model_class.model_name.human.pluralize.titleize, model: model_class.model_name.human.pluralize.titleize
    = flash_message

.row-fluid
  .box
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th= model_class.human_attribute_name(:nome)   
            %th= model_class.human_attribute_name(:saldo)     
            %th= model_class.human_attribute_name(:telefone)     
            %th= model_class.human_attribute_name(:telefone2)     
            %th{colspan: 4}=t '.actions', :default => t("helpers.actions")
        %tbody
          - @clientes.each do |cliente|
            - if cliente.saldo != 0
              %tr
                %td= cliente.id
                %td= cliente.nome
                %td= cliente.saldo.to_f.real
                %td= cliente.telefone
                %td= cliente.telefone2
                %td
                  = link_to t('.show', :default => t("helpers.links.show")), cliente, class: 'btn btn-mini'

