- model_class = Cliente
.row-fluid
  .span12
    %h2.botton-border=t '.title', :default => model_class.model_name.human.pluralize.titleize, model: model_class.model_name.human
    = flash_message

.row-fluid
  .box.span10
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th= model_class.human_attribute_name(:nome)   
            %th= model_class.human_attribute_name(:cpf)     
            %th= model_class.human_attribute_name(:saldo)     
            %th{colspan: 4}=t '.actions', :default => t("helpers.actions")
        %tbody
          %tr
            %td= @cliente.id
            %td= @cliente.nome
            %td= cpf_cnpj_formatado(@cliente.cpf)
            %td= @cliente.saldo.to_f.real.real_formatado
            %td
              = link_to t('.show',             default: t("helpers.links.show")), @cliente, class: 'btn btn-mini'
              = link_to t('.pagamento_debito', default: t("helpers.links.pagamento_debito")), pagamento_debitos_conta_correntes_path(cliente_id: @cliente.id), class: 'btn btn-mini'
        %tfoot
          %tr  
            %td{colspan: 99, height: 29}
              %center
              .left
                = link_to t('.back', :default => t("helpers.links.back")), clientes_path, class: 'btn btn-small'
              .right
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_cliente_path(@cliente), class: 'btn btn-small'

.row-fluid
  - cond = params[:debitos].present? ?  {tipo_lancamento_id: 2, carteira: true} : {carteira: true} 
  = render partial: "conta_correntes/listagem", locals: { conta_correntes: @cliente.conta_correntes.where(cond).order(id: :desc).limit(50)}
