.container-fluid
  %center
    = link_to root_path, class: "btn btn-small", style: "margin-right: 4px" do
      %i.icon.icon-home
    /
    - if can? :index, Caixa
      .btn-group
        = link_to "Caixas", caixas_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",   caixas_path,    class: "btn btn-small"
          = link_to "Abrir Caixa",  new_caixa_path,     class: "btn btn-small"
    - if can? :index, Cliente
      .btn-group
        = link_to "Clientes", clientes_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",    clientes_path,    class: "btn btn-small"
          = link_to "Cadastrar", new_cliente_path, class: "btn btn-small"

    - if can? :index, ContaCorrente
      .btn-group
        = link_to "Conta Corrente", conta_correntes_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Relatório de CC",    conta_correntes_path,    class: "btn btn-small"
          = link_to "Cadastrar Lançamento", new_conta_corrente_path, class: "btn btn-small"

    - if can? :index, OrdemServico
      .btn-group
        = link_to "Ordens de Serviço",  ordem_servicos_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",    ordem_servicos_path,    class: "btn btn-small"
          = link_to "Cadastrar", new_ordem_servico_path, class: "btn btn-small"

    - if can? :index, Produto
      .btn-group
        = link_to "Produtos",       produtos_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",    produtos_path,    class: "btn btn-small"
          = link_to "Cadastrar", new_produto_path, class: "btn btn-small"

    - if can? :index, Servico
      .btn-group
        = link_to "Serviços", servicos_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",    servicos_path,    class: "btn btn-small"
          = link_to "Cadastrar", new_servico_path, class: "btn btn-small"
          = link_to "Tipos de Serviços", tipo_servicos_path,    class: "btn btn-small"


    - if can? :index, Usuario
      .btn-group
        = link_to "Funcionários", usuarios_path, class: "btn btn-small"
        = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
          %span.caret
        %ul.dropdown-menu
          = link_to "Listar",    usuarios_path,    class: "btn btn-small"
          = link_to "Cadastrar", new_usuario_registration_path, class: "btn btn-small"


    .btn-group
      = link_to "Relatórios",  '#', class: "btn btn-small dropdown-toggle", style: 'border-radius: 4px 0 0 4px', :'data-toggle' => "dropdown"
      = link_to '#', class: 'btn btn-small dropdown-toggle', :'data-toggle' => "dropdown" do
        %span.caret
      %ul.dropdown-menu
        = link_to "Caixa por Dia",  movimento_de_caixa_relatorios_path,      class: "btn btn-small"
        = link_to "Extrato dos Funcionário",  extrato_por_funcionario_relatorios_path, class: "btn btn-small"
        = link_to "Pagamento de Funcionários",  pagamento_funcionario_relatorios_path, class: "btn btn-small"

    = link_to "Minha Conta", edit_usuario_password_path, class: "btn btn-small", style: "margin-left: 4px"
    = link_to "Sair", destroy_usuario_session_path, method: :delete, class: "btn btn-small btn-danger", style: "margin-left: 4px"