- model_class = ContaCorrente
- if params[:imprimir].blank?
  .row-fluid
    .span12
      %h2.botton-border=t '.title', :default => model_class.model_name.human.pluralize.titleize, model: model_class.model_name.human.pluralize.titleize
      = flash_message

    .row-fluid
- else
%h3
  %center RELATÓRIO DE CONTA CORRENTE DE CLIENTES

EMISSÃO: #{l(Date.today)}
%hr.hidden_print

- if @carteiras
  .row-fluid
    .box.span12
      .header.hidden_print
        %img{:height => "16", :src => img_header, :width => "16"}
        %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
      .content
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th= model_class.human_attribute_name(:id)         
              %th= model_class.human_attribute_name(:cliente_id)         
              %th= model_class.human_attribute_name(:created_at)         
              %th= model_class.human_attribute_name(:telefone)         
              %th= model_class.human_attribute_name(:telefone)         
              %th= model_class.human_attribute_name(:saldo)         
          %tbody
            - @carteiras.each do |carteira|
              %tr
                %td=  carteira.cliente.id
                %td=  carteira.cliente.nome.upcase
                %td=l carteira.cliente.created_at, format: :short
                %td=  carteira.cliente.telefone
                %td=  carteira.cliente.telefone2
                %td
                  .right
                    =  carteira.valor.to_f.real_contabil
          %tfoot
            %tr
              %td{colspan: 99, height: 29}
                .right
                  = @carteiras.pluck(:valor).sum.real_contabil
                .left.hidden_print
                  = link_to t('.print', :default => t("helpers.links.print")), conta_correntes_path(imprimir: true), class: 'btn btn-small'
