- model_class = Servico
.row-fluid
  .span12
    %h2.botton-border=t '.title', :default => model_class.model_name.human, model: model_class.model_name.human
    = flash_message

.row-fluid
  .box.span6
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_search', :default => model_class.model_name.human.pluralize.titleize
    .content-form
      = form_tag servicos_path, class: 'form-group no-margin', method: :get do
        .container-fluid
          .span4
            .control-group
              = label_tag :type_search, t('helpers.label.type_search'), class: 'control-label'
              .controls
                = select_tag :type_search, options_for_select(tipos_consulta_servico, params[:type_search]), include_blanck: ' --- Selecione --- ', class: 'span12', required: true
          .span8
            .control-group
              = label_tag :find_by, t('helpers.label.find_by'),  class: 'control-label'
              .controls
                = select_tag :find_by, options_for_select(tipo_servicos, params[:find_by]), include_blanck: ' --- Selecione --- ', class: 'span12', required: true

        .form-actions
          .right  
            = submit_tag t('.confirm', :default => t("helpers.submit.confirm")),  class: 'btn btn-primary btn-small'
          .left
            = link_to t('.back', :default => t("helpers.links.back")), ferramentas_usuarios_path, class: 'btn btn-small'
          .left
            = link_to t('.clear', :default => t("helpers.links.clear")), servicos_path, class: 'btn btn-info btn-small'

.row-fluid
  .box
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_list', :default => model_class.model_name.human
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th= model_class.human_attribute_name(:tipo_servico_id)         
            %th= model_class.human_attribute_name(:descricao)   
            %th= model_class.human_attribute_name(:valor)     
            %th= model_class.human_attribute_name(:percentual) 
            %th{colspan: 4}=t '.actions', :default => t("helpers.actions")
        %tbody
          - @servicos.each do |servico|
            %tr
              %td= servico.id
              %td= servico.tipo_servico.try(:descricao)
              %td= servico.descricao
              %td= servico.valor.try(:real)
              %td= servico.percentual
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_servico_path(servico), class: 'btn btn-mini'
        %tfoot
          %tr  
            %td{colspan: 99, height: 29}
              %center
                = page_navigation_links @servicos if will_paginate @servicos
              .left{style: (will_paginate(@servicos) ? 'margin-top: -30px' : '')}
                = link_to t('.back', :default => t("helpers.links.back")), ferramentas_usuarios_path, class: 'btn btn-small'
              - if can? :new, Servico
                .right
                  = link_to t('.new', :default => t("helpers.links.new")), new_servico_path, class: 'btn btn-small'

