- if request.post?
  %h3{style: "letter-spacing: 6px;"}
    %center * MOVIMENTO DO CAIXA *
  %p
  %h5 
    RELATORIO DO DIA.....: #{params[:data]}
    %br
    DATA.................: #{l(Time.now).upcase}
    %br
    CÓDIGO DO OPERADOR...: #{current_usuario.login.upcase}
  %p
  %table
    %thead
      %tr
        %th.span2 DOCUMENTO
        %th.span2 HORA
        %th.span5 HISTORICO
        %th.span2 SAIDAS
        %th.span2 SALDO
    %tbody
      - saldo = 0.0
      - @despesas.each do |despesa|
        - saldo = saldo - despesa.valor
        %tr
          %td= despesa.id
          %td= data_hora(despesa.created_at)
          %td= despesa.observacao
          %td= despesa.valor.real.real_formatado
          %td= saldo.round(2).real.real_formatado
  %p
  %table
    %tbody
      %td.span2{rowspan: 10}
        .vertical{style: 'font-size: 8pt'}
          E N T R A D A S
      - for i in 'creditos_00'..'creditos_06'
        - id_pesquisa = (i == 'creditos_00' ? '10' :  i.gsub(/\D/, ""))
        %tr
          %td.span8
            = i.gsub(/\D/, "") + ' - ' + FormaDePagamento.find( id_pesquisa ).descricao
            - if id_pesquisa.to_i == 4
              (
              = link_to 'Detalhar', extrato_cartoes_relatorios_path(data: params[:data]), target: '_blank'
              )
          %td= @dados[i.to_sym].real.real_formatado
      %tr
        %th.span2= "99 - TOTAL"
        %th= @dados[:creditos_99].real.real_formatado
  %p
  %table
    %tbody
      %td.span2{rowspan: 9}
        .vertical{style: 'font-size: 8pt'}
          S A I D A S
      - for i in 'debitos_07'..'debitos_09'
        %tr
          %td.span8= i.gsub(/\D/, "")  + ' - ' + FormaDePagamento.find( i.gsub(/\D/, "") ).descricao
          %td= @dados[i.to_sym].real.real_formatado
      %tr
        %th.span2= "99 - TOTAL"
        %th= @dados[:debitos_99].real.real_formatado
  %p
  %table
    %thead
      %tr
        %th.span10= "SALDO LIQUIDO NESTA DATA"         
        %th.span2= (@dados[:creditos_99] - @dados[:debitos_99]).real.real_formatado
      %tr
        %th.span10= "PEDE"         
        %th.span2= (@dados[:creditos_01] + @dados[:creditos_00] - @dados[:debitos_99]).real.real_formatado

- else
  .row-fluid
    .span12
      %h2.botton-border=t '.title'
      = flash_message
  .row-fluid
    .box.span4
      .header
        %img{:height => "16", src: img_header, :width => "16"}
        %p=t '.header_search'
      .content-form
        = form_tag movimento_de_caixa_relatorios_path, class: 'form-group no-margin', method: :post do
          .container-fluid
            .control-group.span12#datepicker2.input-append
              = label_tag :data, 'Data', class: 'control-label'
              .controls
                = text_field_tag :data, params[:data] || l(Date.today), class: 'span11', required: true
                %span.add-on
                  %i{"data-date-icon" => "icon-calendar"}
          .form-actions
            .right  
              = submit_tag t('.confirm', :default => t("helpers.submit.confirm")),  class: 'btn btn-primary btn-small'
