- model_class = ContaCorrente

- if request.post? and params[:imprimir].present?
  %h3{style: "letter-spacing: 6px;"}
    %center * RELATÓRIO DE PAGAMENTOS POR FUNCIONÁRIO *
  %p
  %h5 
    RELATORIO DO DIA.....: #{params[:data]}
    %br
    DATA.................: #{l(Time.now).upcase}
    %br
    FUNCIONÁRIO...: #{@funcionario.id.to_s.rjust(5,'0')} - #{@funcionario.name}
  %p
  %table
    %thead
      %tr
        %th.span2 MATR.
        %th.span3 FUNCIONÁRIO
        %th.span2 VL SERVIÇOS
        %th.span2 VL COMISSÃO
        %th.span2 ADIANTAMENTOS
        %th.span2 SALDO
    %tbody
      - servicos = comissao = adiantamento = saldo = 0.0
      - @dados.each do |dado|
        %tr
          %td= dado[:func].to_s.rjust(5,'0')
          %td= dado[:nome]
          %td= dado[:valor]
          %td= dado[:comissao]
          %td= dado[:adiantamento]
          %td= dado[:saldo]
          - servicos      += dado[:valor].to_f
          - comissao      += dado[:comissao].to_f
          - adiantamento  += dado[:adiantamento].to_f
          - saldo         += dado[:saldo].to_f
    %tfoot
      %tr
        %th{colspan: 2} TOTAL
        %th= servicos.to_f.real_contabil
        %th= comissao.to_f.real_contabil
        %th= adiantamento.to_f.real_contabil
        %th= saldo.to_f.real_contabil
        %th
- elsif request.post? 
  .row-fluid
    .box.span12
      .header.hidden_print
        %img{:height => "16", :src => img_header, :width => "16"}
        %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
      .content
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th= model_class.human_attribute_name(:numero)         
              %th= model_class.human_attribute_name(:funcionario)         
              %th= model_class.human_attribute_name(:forma_de_pagamento)         
              %th= model_class.human_attribute_name(:observacao)         
              %th= model_class.human_attribute_name(:valor)         
          %tbody
            - valor = 0.0
            - @lancamentos.each do |lanc|
              %tr
                %td= lanc.id.to_s.rjust(5,'0')
                %td= @funcionario.nome
                %td= lanc.forma_de_pagamento.try(:descricao)
                %td= lanc.observacao
                %td= lanc.valor.to_f.real_contabil
                - valor += lanc.valor.to_f
          %tfoot
            %tr
              %th{colspan: 4} TOTAL
              %th= valor.to_f.real_contabil
- else
  .row-fluid
    .span12
      %h2.botton-border=t '.title'
      = flash_message
  .row-fluid
    .box.span6
      .header
        %img{:height => "16", src: img_header, :width => "16"}
        %p=t '.header_search'
      .content-form
        = form_tag pagamento_funcionario_relatorios_path, class: 'form-group no-margin', method: :post do
          .container-fluid
            .control-group.span6#datepicker2.input-append
              = label_tag :data_ini, 'Data Inicio', class: 'control-label'
              .controls
                = text_field_tag :data_ini, params[:data_ini], class: 'span11', required: true
                %span.add-on
                  %i{"data-date-icon" => "icon-calendar"}
            .control-group.span6#datepicker.input-append
              = label_tag :data_fim, 'Data Final', class: 'control-label'
              .controls
                = text_field_tag :data_fim, params[:data_fim] || l(Date.today), class: 'span11', required: true
                %span.add-on
                  %i{"data-date-icon" => "icon-calendar"}

          .container-fluid
            .control-group.span6
              = label_tag :funcionario, nil, class: 'control-label'
              .controls
                = select_tag :funcionario_id, options_for_select(funcionarios, params[:funcionario_id]), class: 'span12', required: true

            .control-group.span6
              = label_tag :imprimir, t('helpers.label.layout_print'), class: 'control-label'
              .controls
                = check_box_tag 'imprimir', 1, nil, class: 'checkbox'
          .form-actions
            .right  
              = submit_tag t('.confirm', :default => t("helpers.submit.confirm")),  class: 'btn btn-primary btn-small'