.span1
#flex.span7.visible-desktop.visible-tablet.hidden-phone
  .flex-caption.span7
    %h1
      A solução
      %br
      que você procura!
    %h3 Digitalização, indexação e consulta de seu acervo.
    = link_to 'SAIBA MAIS', root_url, class: 'button', style: 'float: rigth'
  .slider-img.span5
    = image_tag "/assets/principal/slide1.png", width: '93%'

#email.span3{style: 'border: 1px solid #ccc; padding: 20px;'}
  %h3 Esqueceu sua Senha?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    %fieldset
      - if alert
        %span#name_error.error= alert
        %br
        %br
      = f.label :email
      = f.text_field :email, autofocus: true, class: 'span12 text-input'
      .options(style='float: left; ')
        = render "devise/shared/links"
      .submit_bar(style='float: right; ')
        = f.submit 'Envie-me Instruções' , class: 'btn button'


- msg = notice || alert || flash[:error] || flash[:notice]
- if msg
  #message_modal.modal.hide.fade
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3 Aviso !
    .modal-body
      %br
        %p=raw msg
    .modal-footer
      %a.btn{href: "#", :'data-dismiss' => "modal"} Fechar

  :javascript
    $('#message_modal').modal();
