- model_class = OrdemServico
.box.span6
  .header
    %img{:height => "16", :src => img_header, :width => "16"}
    %p=t '.header', :default => model_class.model_name.human.pluralize.titleize
  = form_for @ordem_servico, :html => { class: 'form-group' } do |f|
    .content-form
      .container-fluid
        .control-group.span6
          = f.label :cliente_id, class: 'control-label'
          .controls
            = f.select :cliente_id, options_for_select(Cliente.all.order(:nome).pluck(:nome, :id)), {}, class: 'span12', required: true
        .control-group.span6
          = f.label :numero, class: 'control-label'
          .controls
            = f.text_field :numero, class: 'span12', required: true
      .container-fluid
        .control-group.span6#datepicker2.input-append
          = label_tag :data, 'Data', class: 'control-label'
          .controls
            = f.text_field :data, value: l(@ordem_servico.data) || l(Date.today), class: 'span11', required: true
            %span.add-on
              %i{"data-date-icon" => "icon-calendar"}
      .form-actions
        .right
          = f.submit t('.confirm', :default => t("helpers.submit.confirm")),  class: 'btn btn-small btn-primary'
        .left
          = link_to t('.back', :default => t("helpers.links.back")), ordem_servicos_path, class: 'btn btn-small'
