- model_class = OrdemServico
.row-fluid
  .span12
    %h2.botton-border=t '.title', :default => model_class.model_name.human.pluralize.titleize, model: model_class.model_name.human.pluralize.titleize
    = flash_message

.row-fluid
  .box
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th= model_class.human_attribute_name(:created_at)         
            %th= model_class.human_attribute_name(:status)         
            %th{colspan: 2}= model_class.human_attribute_name(:cliente)         
            %th= model_class.human_attribute_name(:valor)
            %th= model_class.human_attribute_name(:usuario)
            %th{colspan: 4}=t '.actions', :default => t("helpers.actions")
        %tbody
          - @ordem_servicos.each do |ordem_servico|
            %tr
              %td= ordem_servico.id.to_s.rjust(6,'0')
              %td=l ordem_servico.created_at, format: :short
              %td= ordem_servico.descricao_status
              %td= cpf_cnpj_formatado(ordem_servico.cliente.try(:cpf))
              %td= ordem_servico.cliente.try(:nome)
              %td= ordem_servico.servicos.pluck(:valor).try(:sum).try(:real)
              %td= ordem_servico.usuario.try(:nome)
              %td
                = link_to t('.show', :default => t("helpers.links.show")), ordem_servico, class: 'btn btn-mini'
        %tfoot
          %tr  
            %td{colspan: 99, height: 29}
              %center
                = page_navigation_links @ordem_servicos if will_paginate @ordem_servicos
              .left{style: (will_paginate(@ordem_servicos) ? 'margin-top: -30px' : '')}
                = link_to t('.back', :default => t("helpers.links.back")), ferramentas_usuarios_path, class: 'btn btn-small'

