- model_class = OrdemServico
.row-fluid
  .span12
    %h2.botton-border=t '.title', :default => model_class.model_name.human.pluralize.titleize, status: @ordem_servico.descricao_status
    = flash_message

.row-fluid
  .box.span7
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.servicos', :default => 'Serviços'
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th= model_class.human_attribute_name(:tipo_servico)         
            %th= model_class.human_attribute_name(:descricao)         
            %th= model_class.human_attribute_name(:valor)
        %tbody
          - total = 0
          - @ordem_servico.ordem_servicos_servicos.each do |oss|
            - total += oss.valor
            %tr
              %td= oss.servico_id.to_s.rjust(6,'0')
              %td= oss.servico.tipo_servico.descricao
              %td= oss.servico.descricao
              %td= oss.valor.try(:real).try(:real_formatado)
              /%td= oss.comissao > 0 ? oss.comissao.to_s + ' %' : oss.servico.comissao.to_s + ' %'
        %tfoot
          %tr
            %th{colspan: 3} Total
            %th= total.to_f.real.real_formatado
          %tr
            %td{colspan: 99}= link_to t('helpers.links.back'), @ordem_servico, class: 'btn btn-small'

  .box.span5
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.carteira', :default => 'Serviços'
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= Cliente.human_attribute_name(:id)         
            %th= Cliente.human_attribute_name(:cpf)         
            %th= Cliente.human_attribute_name(:nome)         
            %th= Cliente.human_attribute_name(:carteira)
        %tbody
          - cliente = @ordem_servico.cliente
          %tr
            %td= cliente.id
            %td= cpf_cnpj_formatado(cliente.cpf)
            %td= cliente.nome
            %td= cliente.saldo.real.real_formatado

- if @ordem_servico.pagamentos.any?
  .row-fluid
    .box.span7
      .header.hidden_print
        %img{:height => "16", :src => img_header, :width => "16"}
        %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
      .content
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th= model_class.human_attribute_name(:id)         
              %th= model_class.human_attribute_name(:cliente_id)         
              %th= model_class.human_attribute_name(:created_at)         
              %th= model_class.human_attribute_name(:valor)         
              %th= model_class.human_attribute_name(:forma_de_pagamento)         
              %th= model_class.human_attribute_name(:acoes)
          %tbody
            - @ordem_servico.pagamentos.each do |pagamento|
              %tr
                %td=  pagamento.id.to_s.rjust(6,'0')
                %td=  pagamento.cliente.nome
                %td=l pagamento.created_at, format: :short
                %td=  pagamento.valor.to_f.real.real_formatado
                %td=  pagamento.forma_de_pagamento.descricao
                %td
                  = link_to t('.destroy', :default => t("helpers.links.destroy")), conta_corrente_path(pagamento), method: :delete, class: 'btn btn-mini btn-danger',  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
          %tfoot
            %tr
              %th{colspan: 3} TOTAL
              %th{colspan: 2}= @ordem_servico.pagamentos.pluck(:valor).sum.real.real_formatado
              
- if @ordem_servico.pagamentos.blank? or  (@ordem_servico.pagamentos.pluck(:valor).sum < total)
  - model_class = ContaCorrente
  - valor_maximo  = (total <= cliente.saldo.to_f ? total.to_f.real : cliente.saldo.to_f.real)
  - valor_maximo -= (@ordem_servico.pagamentos.any? ? @ordem_servico.pagamentos.pluck(:valor).sum : 0)
  - valor_maximo  = 0 if valor_maximo < 0
  .row-fluid
    .span7
      = render partial: 'conta_correntes/forma_ordem_servico', locals: { valor: total }

    .box.span5
      .header
        %img{:height => "16", :src => img_header, :width => "16"}
        %p Pagamento com Carteira
      = form_for @conta_corrente, :html => { class: 'form-group' } do |f|
        = f.hidden_field :carteira,           value: true
        = f.hidden_field :ordem_servico_id,   value: @ordem_servico.id
        = f.hidden_field :cliente_id,         value: @ordem_servico.cliente_id
        = f.hidden_field :tipo_lancamento_id, value: 2
        = hidden_field_tag :selecione, 'cliente'
        .content-form
          .container-fluid
            .control-group.span6
              = f.label :forma_de_pagamento_id, class: 'control-label'
              .controls
                = f.select :forma_de_pagamento_id, options_for_select([['Carteira', 5]], @conta_corrente.forma_de_pagamento_id), {}, class: 'span12'
          .container-fluid
            .control-group.span6#valor
              = f.label :valor, class: 'control-label'
              .controls
                = f.text_field :valor, value: valor_maximo, class: 'span12', required: true
            .control-group.span6
              = f.label :observacao, class: 'control-label'
              .controls
                = f.text_field :observacao, value: "Débito de Carteira da OSS #{@ordem_servico.id.to_s.rjust(6,'0')}", class: 'span12', required: true
          .form-actions
            .right
              = f.submit t('.confirm', :default => t("helpers.submit.confirm")),  class: 'btn btn-small btn-primary'

