- model_class = OrdemServico
.row-fluid
  .span12
    %h2.botton-border=t '.title', :default => model_class.model_name.human.pluralize.titleize, model: model_class.model_name.human.pluralize.titleize
    = flash_message

.row-fluid
  .box
    .header
      %img{:height => "16", :src => img_header, :width => "16"}
      %p=t '.header_list', :default => model_class.model_name.human.pluralize.titleize
    .content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th= model_class.human_attribute_name(:id)         
            %th{colspan: 4}=t '.actions', :default => t("helpers.actions")
        %tbody
          %tr
            %td= ordem_servico.id
            %td
              = link_to t('.show', :default => t("helpers.links.show")), ordem_servico, class: 'btn btn-mini'
        %tfoot
          %tr  
            %td
              = link_to t('.back', :default => t("helpers.links.back")), ferramentas_usuarios_path, class: 'btn btn-small'

